@import url(/src/styles/default.css) layer(default);
@import url(/src/styles/nouislider.min.css) layer(slider);

@layer default, slider;

/* Grid styling */

main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    padding: 20px 10px;
}

aside {
    padding-left: 20px;
}

/* Filter styling */

#filter-wrapper fieldset {
    border: none;
}

#filter-wrapper ul {
    padding-left: 0;
}

#filter-wrapper ul li {
    padding-inline: 5px;
    list-style-type: none;
}

#filter-wrapper input[type="checkbox"] {
    margin-right: 5px;
}

#filter-wrapper div:not(#difficulty-slider *, #difficulty-slider), #filter-wrapper fieldset {
    margin: 20px 0px;
    position: relative;
    padding: 0;
}

/* Difficulty slider */

#slider-label {
    display: inline-block;
    padding-inline: 2px;
    margin-bottom: 35px;
}

#filter-wrapper .noUi-tooltip {
    font-size: small;
}

#filter-wrapper .noUi-target {
    margin-left: 1vw;
    width: 16vw;
}

#filter-wrapper .noUi-connect {
    background: rgb(88, 88, 183);
    background: linear-gradient(90deg, rgb(88, 88, 183) 0%, rgb(211, 79, 79) 100%);
}

#filter-wrapper .noUi-handle::before, #filter-wrapper .noUi-handle::after {
    all: unset;
}

#filter-wrapper .noUi-handle {
    cursor: grab;
    transition: border 0.2s cubic-bezier(0.37, 0, 0.63, 1);
}

#filter-wrapper .noUi-handle:active {
    cursor: grabbing;
}

#filter-wrapper .noUi-handle-lower {
    background-color: white;
    width: 28px;
    height: 28px;
    border-radius: 14px;
    border: 5px solid rgb(88, 88, 183);
}

#filter-wrapper .noUi-handle-upper {
    background-color: white;
    width: 28px;
    height: 28px;
    border-radius: 14px;
    border: 5px solid rgb(211, 79, 79);
}

#filter-wrapper .noUi-handle-lower:hover, #filter-wrapper .noUi-handle-lower:focus {
    border: 5px solid rgb(52, 52, 109);
}

#filter-wrapper .noUi-handle-upper:hover, #filter-wrapper .noUi-handle-upper:focus {
    border: 5px solid rgb(132, 53, 53);
}

/* Submit and create buttons */

@property --submitLeftSide {
    syntax: '<color>';
    initial-value: rgb(211, 79, 79);
    inherits: false;
}

@property --submitRightSide {
    syntax: '<color>';
    initial-value: rgb(211, 79, 79);
    inherits: false;
}

@property --createLeftSide {
    syntax: '<color>';
    initial-value: rgb(88, 88, 183);
    inherits: false;
}

@property --createRightSide {
    syntax: '<color>';
    initial-value: rgb(88, 88, 183);
    inherits: false;
}

#filter-button-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 17vw;
    gap: 10px;
}

#filter-wrapper button {
    border: none;
    color: white;
    border-radius: 5px;
    padding: 5px 15px;
}

#filter-submit {
    background: linear-gradient(90deg, var(--submitLeftSide), var(--submitRightSide));

    transition:
        --submitLeftSide 0.2s cubic-bezier(0.37, 0, 0.63, 1),
        --submitRightSide 0.2s cubic-bezier(0.37, 0, 0.63, 1);
}

#filter-submit:hover {
    --submitRightSide: rgb(88, 88, 183);
}

#filter-submit:active {
    font-weight: bold;
    --submitLeftSide: rgb(88, 88, 183);
    --submitRightSide: rgb(88, 88, 183);
}

#create-button {
    background: linear-gradient(90deg, var(--createLeftSide), var(--createRightSide));

    transition:
        --createLeftSide 0.2s cubic-bezier(0.37, 0, 0.63, 1),
        --createRightSide 0.2s cubic-bezier(0.37, 0, 0.63, 1);
}

#create-button:hover {
    --createLeftSide: rgb(211, 79, 79);
}

#create-button:active {
    font-weight: bold;
    --createLeftSide: rgb(211, 79, 79);
    --createRightSide: rgb(211, 79, 79);
}

/* Problem styling */

article {
    margin-right: min(5vw, 20px);
}

article h1 {
    margin-block: 0 30px;
}

#problem-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.problem {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    padding: 0 20px 10px 20px;
    border-radius: 10px;
    flex: 100%;

    border-bottom-width: 5px;
    border-bottom-style: solid;

    position: relative;

    transition:
        border-bottom-width 0.2s cubic-bezier(0.37, 0, 0.63, 1),
        box-shadow 0.2s cubic-bezier(0.37, 0, 0.63, 1),
        flex 1s cubic-bezier(0.37, 0, 0.63, 1);
}

.problem:hover {
    border-bottom-width: 9px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.problem > img {
    display: block;
    width: 30%;
    margin: 10px auto;
}

.problem div {
    visibility: hidden;
    max-height: 0;
    overflow: hidden;

    transition:
        max-height 1s cubic-bezier(0.37, 0, 0.63, 1),
        visibility 1s cubic-bezier(0.37, 0, 0.63, 1);
}

.problem.expanded {
    cursor: auto;
    border-bottom-width: 5px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    flex: 100%;
}

.problem.expanded .contract-button {
    visibility: visible;
}

.problem.expanded div {
    visibility: visible;
    max-height: 1000px;
}

.problem .contract-button {
    position: absolute;
    right: 8px;
    top: 8px;
    visibility: hidden;

    background-color: transparent;
    border: none;
    border-radius: 0.5em;
    padding: 0.5em;
    height: min-content;

    transition:
        visibility 1s cubic-bezier(0.37, 0, 0.63, 1),
        background-color 0.2s cubic-bezier(0.37, 0, 0.63, 1);
}

.problem .contract-button img {
    display: block;
}

.problem .contract-button:hover {
    background-color: rgb(232, 232, 232);

    & img {
        filter: brightness(0);
    }
}

.problem .contract-button:active {
    background-color: rgb(211, 211, 211);
}

.problem h2 {
    margin-top: 15px;
    padding: 0;
    font-size: medium;
}

/* New problem styling */

.new-problem {
    gap: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);

    max-height: 1000px;
    flex: 1;
    overflow: hidden;

    transition:
        max-height 1s cubic-bezier(0.37, 0, 0.63, 1),
        flex 1s cubic-bezier(0.37, 0, 0.63, 1);
}

.new-problem .new-problem-header {
    display: flex;
    gap: 10px;
    align-items: center;
}

.new-problem .new-problem-header *:nth-child(1) {
    flex: 5;
}

.new-problem .new-problem-header *:nth-child(2) {
    min-width: 30px;
    flex: 1;
}

.new-problem .new-problem-header *:nth-child(3) {
    flex: 20;
    padding-left: 10px;
}

.new-problem .new-problem-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.new-problem .new-problem-footer button {
    border: none;
    color: white;
    border-radius: 5px;
    padding: 5px 15px;

    transition: background-color 0.2s cubic-bezier(0.37, 0, 0.63, 1);
}

.new-problem .new-problem-footer button:first-child {
    background-color: rgb(211, 79, 79);
}

.new-problem .new-problem-footer button:first-child:hover {
    background-color: rgb(132, 53, 53);
}

.new-problem .new-problem-footer button:last-child {
    background-color: rgb(88, 88, 183);
}

.new-problem .new-problem-footer button:last-child:hover {
    background-color: rgb(52, 52, 109);
}

.new-problem input, .new-problem textarea, .new-problem select {
    display: block;
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid rgb(109, 109, 109);
}

.new-problem textarea {
    resize: vertical;
    min-height: 35px;
}

.error-message {
    color: red;
}