@import url(/src/styles/default.css) layer(default);
@import url(/src/styles/nouislider.min.css) layer(slider);

@layer default, slider;

/* Grid styling */

main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    padding: 30px 20px;
}

aside {
    padding-left: 20px;
}

/* Filter styling */

form fieldset {
    border: none;
}

form ul {
    padding-left: 0;
}

form ul li {
    padding-inline: 5px;
    list-style-type: none;
}

form input[type="checkbox"] {
    margin-right: 5px;
}

form div:not(#difficulty-slider *, #difficulty-slider), form fieldset {
    margin: 20px 0px;
    position: relative;
    padding: 0;
}

/* Difficulty slider */


#slider-label {
    display: inline-block;
    padding-inline: 2px;
    margin-bottom: 35px;
}

form .noUi-tooltip {
    font-size: small;
}

form .noUi-target {
    margin-left: 1vw;
    width: 16vw;
}

form .noUi-connect {
    background: rgb(88, 88, 183);
    background: linear-gradient(90deg, rgb(88, 88, 183) 0%, rgb(211, 79, 79) 100%);
}

form .noUi-handle::before, form .noUi-handle::after {
    all: unset;
}

form .noUi-handle {
    cursor: grab;
    transition: border 0.2s cubic-bezier(0.37, 0, 0.63, 1);
}

form .noUi-handle:active {
    cursor: grabbing;
}

form .noUi-handle-lower {
    background-color: white;
    width: 28px;
    height: 28px;
    border-radius: 14px;
    border: 5px solid rgb(88, 88, 183);
}

form .noUi-handle-upper {
    background-color: white;
    width: 28px;
    height: 28px;
    border-radius: 14px;
    border: 5px solid rgb(211, 79, 79);
}

form .noUi-handle-lower:hover, form .noUi-handle-lower:focus {
    border: 5px solid rgb(52, 52, 109);
}

form .noUi-handle-upper:hover, form .noUi-handle-upper:focus {
    border: 5px solid rgb(132, 53, 53);
}

/* Submit button */

@property --leftSide {
    syntax: '<color>';
    initial-value: rgb(211, 79, 79);
    inherits: false;
}

@property --rightSide {
    syntax: '<color>';
    initial-value: rgb(211, 79, 79);
    inherits: false;
}

#filter-submit {
    background: linear-gradient(0.25turn, var(--leftSide), var(--rightSide));
    border: none;
    color: white;
    border-radius: 5px;
    padding: 5px 15px;

    cursor: pointer;

    transition:
    --leftSide 0.2s cubic-bezier(0.37, 0, 0.63, 1),
    --rightSide 0.2s cubic-bezier(0.37, 0, 0.63, 1);
}

#filter-submit:hover {
    --leftSide: rgb(88, 88, 183);
}

#filter-submit:active {
    font-weight: bold;
    --leftSide: rgb(88, 88, 183);
    --rightSide: rgb(88, 88, 183);
}

/* Problem styling */

article h1 {
    margin-top: 0;
}

#problem-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.problem {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    padding: 0 20px 5px 20px;
    border-radius: 10px;
    flex: 1;
}

.problem h2 {
    margin-top: 10px;
    padding: 0;
    font-size: medium;
}