/* rgb(88, 88, 183) blue
rgb(211, 79, 79) red */

/* General styling */

html {
    font-family: 'Heebo', "Trebuchet MS", sans-serif;
    scroll-behavior: smooth;
    hyphens: auto;
}

body {
    margin: 0;
}

main {
    padding-inline: calc(2rem + 5vw);
    padding-bottom: 2em;
}

a:link {
    color: rgb(88, 88, 183);
}

a:visited {
    color: purple;
}

nav *:focus {
    border-radius: 2px;
    outline: 2px solid black;
}

*:focus:not(:focus-visible) {
    outline: none;
}

footer *:focus {
    border-radius: 2px;
    outline: 2px solid white;
}

a:hover {
    text-decoration: none;
}

a:active {
    color: red;
    font-weight: bold;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 1.7em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 1.1em;
}

@media screen and (max-width: 680px) {

    h1 {
        font-size: 3em;
    }
    
    h2 {
        font-size: 1.5em;
    }
    
    h3 {
        font-size: 1.2em;
    }
    
    h4 {
        font-size: 1.1em;
    }
    
    h5 {
        font-size: 1em;
    }

    p {
        font-size: 0.9em;
    }

}

/* Header, nav, and login elements */

header {
    z-index: 100;
    background: white;
    position: sticky;
    top: 0;
    margin: -0.5rem 0 0;
    width: 100vw;
    max-width: 100%;
    border-bottom: 2px solid #ececec;
}

nav {
    min-height: 4rem;
    display: grid;
    grid-template-areas:
       "left button";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(5rem, max-content);
    padding-right: 5vw;
}

nav a {
    text-decoration: none;
}

.left {
    margin: auto 1vw;
    grid-area: left;
    width: fit-content;
    display: flex;
    gap: 4vw;
}

.left img {
    display: block;
    width: 100px;
}

.hidden {
    display: none !important;
}

nav .login-element {
    margin: auto 0;
    padding: 20px 0;

    font-size: large;
    color: black;

    border-bottom: 3px solid rgb(88, 88, 183);
    border-radius: 3px;

    transition:
        border-bottom 0.2s cubic-bezier(0.37, 0, 0.63, 1),
        border-radius 0.2s cubic-bezier(0.37, 0, 0.63, 1);

}

nav .login-element:hover {
    border-bottom: 5px solid rgb(211, 79, 79);
    border-radius: 5px;
}

nav .login-element:active {
    font-weight: bold;
}

#account-button {
    width: fit-content;
    justify-self: right;

    background-color: transparent;

    border-top: none;
    border-right: none;
    border-left: none;

    cursor: pointer;
}

#button-dropdown {
    position: absolute;
    top: 95px;
    right: 5vw;
    background-color: rgb(255, 255, 255);
    z-index: 100;

    padding: 2px 5px;
    box-shadow: 0px 0px 15px rgba(129, 129, 129, 0.299);
    border-radius: 10px;
}

#button-dropdown * {
    all: unset;
    
    display: block;
    color: black;

    background: none;
    border: none;
    border-radius: 5px;
    font-size: medium;

    padding: 2px 8px;
    margin-block: 5px;
    width: calc(100% - 16px);
    text-align: left;

    cursor: pointer;
}

#button-dropdown *:hover, #button-dropdown *:focus {
    background-color: rgb(242, 242, 242);
}

#button-dropdown *:active {
    background-color: rgb(234, 234, 234);
}

/* Footer */

footer {
    background-color: rgb(84, 84, 84);
    color: white;
    padding-block: 1em;
    padding-inline: 2em;
}

footer a {
    color: white !important;
}

/* Form elements */

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input[type="checkbox"] {
    appearance: none;

    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255);

    position: relative;
    width: 1em;
    height: 1em;
    border: 1px solid gray;
    border-radius: 3px;
    margin-left: 3px;
    /* Adjusts the position of the checkboxes on the text baseline */
    vertical-align: -3px;

    transition: background-color 0.2s cubic-bezier(0.37, 0, 0.63, 1);

}
  
input[type="checkbox"]:checked {
    background-image: url(/src/images/check.svg);
}

input[type="checkbox"]:not(:disabled):hover {
    background-color: rgb(241, 241, 241);
}

input[type="checkbox"]:disabled {
    border-color: black;
    background-color:rgb(176, 176, 176);
}

input[type="search"] {
    appearance: none;
    padding-block: 4px;
    padding-inline: 30px 10px;
    width: 17vw;
    border: 1px solid rgb(109, 109, 109);
    background-color: white;
    border-radius: 5px;

    transition: background-color 0.2s cubic-bezier(0.37, 0, 0.63, 1);
}

input[type="search"] ~ img {
    position: absolute;
    top: calc(50% - 12px);
    left: 5px;
}

input[type="search"]:hover, input[type="search"]:focus, input[type="search"]:active {
    background-color: rgb(241, 241, 241);
}