/* rgb(88, 88, 183) blue
rgb(211, 79, 79) red */

/* General styling */

* {
    font-family: 'Heebo', "Trebuchet MS", sans-serif;
    scroll-behavior: smooth;
    hyphens: auto;
}

body {
    margin: 0;
}

main {
    padding-inline: calc(2rem + 5vw);
    padding-bottom: 2em;
}

a:link {
    color: rgb(88, 88, 183);
}

a:visited {
    color: purple;
}

nav *:focus {
    border-radius: 2px;
    outline: 2px solid black;
}

footer *:focus {
    border-radius: 2px;
    outline: 2px solid white;
}

a:hover {
    text-decoration: none;
}

a:active {
    color: red;
    font-weight: bold;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 1.7em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 1.1em;
}

@media screen and (max-width: 680px) {

    h1 {
        font-size: 3em;
    }
    
    h2 {
        font-size: 1.5em;
    }
    
    h3 {
        font-size: 1.2em;
    }
    
    h4 {
        font-size: 1.1em;
    }
    
    h5 {
        font-size: 1em;
    }

    p {
        font-size: 0.9em;
    }

}

/* Footer */

footer {
    background-color: rgb(84, 84, 84);
    color: white;
    padding-block: 1em;
    padding-inline: 2em;
}

footer a {
    color: white !important;
}
