/* rgb(88, 88, 183) blue
rgb(211, 79, 79) red */

@import url(/src/styles/default.css) layer(default);

/* Log in/Sign up button */

#button-wrapper {
    display: flex;
    justify-self: end;
    gap: 1vw;
}

@property --leftSideLogin {
    syntax: '<color>';
    initial-value: rgb(211, 79, 79);
    inherits: false;
}

@property --rightSideLogin {
    syntax: '<color>';
    initial-value: rgb(211, 79, 79);
    inherits: false;
}

@property --leftSideSignUp {
    syntax: '<color>';
    initial-value: rgb(88, 88, 183);
    inherits: false;
}

@property --rightSideSignUp {
    syntax: '<color>';
    initial-value: rgb(88, 88, 183);
    inherits: false;
}

#button-wrapper a {
    color: white;
    font-size: large;
    text-decoration: none;

    padding: 1rem 2rem;
    grid-area: button;
    justify-self: right;
    display: inline-block;
    margin: auto 0;

    border-radius: 0.4rem;
}

#log-in-button {
    background: linear-gradient(0.25turn, var(--leftSideLogin), var(--rightSideLogin));
    transition:
        --leftSideLogin 0.2s cubic-bezier(0.37, 0, 0.63, 1),
        --rightSideLogin 0.2s cubic-bezier(0.37, 0, 0.63, 1);
}

#log-in-button:hover, #log-in-button:focus {
    --rightSideLogin: rgb(88, 88, 183);
}

#log-in-button:active {
    --leftSideLogin: rgb(88, 88, 183);
    --rightSideLogin: rgb(88, 88, 183);
}

#sign-up-button {
    background: linear-gradient(0.25turn, var(--leftSideSignUp), var(--rightSideSignUp));
    transition:
        --leftSideSignUp 0.2s cubic-bezier(0.37, 0, 0.63, 1),
        --rightSideSignUp 0.2s cubic-bezier(0.37, 0, 0.63, 1);
}

#sign-up-button:hover, #log-in-button:focus {
    --leftSideSignUp: rgb(211, 79, 79);
}

#sign-up-button:active {
    --leftSideSignUp: rgb(211, 79, 79);
    --rightSideSignUp: rgb(211, 79, 79);
}