@import url(/src/styles/default.css) layer(default);

#logo {
    display: block;
    margin: auto;
    width: min(30vw, 150px);
}

/* Sign in box (main) */

main {
    display: block;
    margin: 20px auto;
    width: min(50vw, 500px);
    padding: 25px;

    border-radius: 10px;
    background-color: rgb(235, 235, 235);
    text-align: center;
    
}

form h1 {
    font-size: 1.5em;
    margin-bottom: 30px;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    width: min(35vw, 350px);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input {
    height: min(10vh, 50px);
}

label {
    position: absolute;
}