@import url(/src/styles/default.css) layer(default);

header {
    display: flex;
    justify-content: center;
    border-bottom: none;
}

#logo img {
    width: min(30vw, 150px);
}

/* Sign in box (main) */

main {
    display: block;
    margin: 20px auto;
    width: min(40vw, 400px);
    padding: 25px;
    text-align: center;
    
}

form h1 {
    font-size: 2.5em;
    margin-bottom: 30px;
}

button,
input,
select,
textarea {
    width: min(25vw, 250px);
}

input {
    height: min(10vh, 50px);
    border-radius: 10px;
    border: 1px solid rgb(109, 109, 109);
    transition: border 0.15s ease-in-out;
    padding-inline: min(1.5vw, 15px);
}

input:focus {
    outline: none;
    border: 1px solid rgb(211, 79, 79);
}

form p {
    position: relative;
    display: inline-block;
    margin: 10px;
}

label {
    color: rgb(109, 109, 109);

    position: absolute;
    top: 30%;
    left: 20px;
    z-index: 1;

    background-color: white;

    cursor: text;

    transition: 
        top 0.15s ease-in-out,
        font-size 0.15s ease-in-out,
        color 0.15s ease-in-out;
}

input:focus ~ label {
    color: rgb(211, 79, 79);
    top: -16%;
    font-size: 0.8em;
}

label.entered {
    top: -16%;
    font-size: 0.8em;
}

button {
    height: min(10vh, 50px);
    padding-inline: min(1.5vw, 15px);

    border-radius: 10px;
    border: 1px solid rgb(109, 109, 109);
    background-color: white;

    cursor: pointer;

    transition: background-color 0.15s ease-in-out;
}

button:hover {
    background-color: rgb(242, 242, 242);
}

button:active {
    background-color: rgb(231, 231, 231);
}

#error-message {
    color: red;
}

/* Section break */

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin-block: 20px;
  }

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
}

.separator:not(:empty)::before {
    margin-right: .25em;
}

.separator:not(:empty)::after {
    margin-left: .25em;
}

/* Sign in with Google */

#sign-in-google {
    display: flex;
    margin-inline: auto;
    align-items: center;
    gap: 10px;
}