@import url(/src/styles/default.css) layer(default);

#logo {
    display: block;
    margin: auto;
    width: min(30vw, 150px);
}

/* Sign in box (main) */

main {
    display: block;
    margin: 20px auto;
    width: min(40vw, 400px);
    padding: 25px;
    text-align: center;
    
}

form h1 {
    font-size: 2.5em;
    margin-bottom: 30px;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    width: min(25vw, 250px);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input {
    height: min(10vh, 50px);
    border-radius: 10px;
    border: 1px solid rgb(109, 109, 109);
    transition: border 0.2s cubic-bezier(0.37, 0, 0.63, 1);
    padding-inline: min(1.5vw, 15px);
}

input:focus {
    outline: none;
    border: 1px solid rgb(211, 79, 79);
}

form p {
    position: relative;
    display: inline-block;
    margin: 10px;
}

label {
    color: rgb(109, 109, 109);

    position: absolute;
    top: 30%;
    left: 20px;
    z-index: 1;

    background-color: white;

    cursor: text;

    transition: 
        top 0.2s cubic-bezier(0.37, 0, 0.63, 1),
        left 0.2s cubic-bezier(0.37, 0, 0.63, 1),
        bottom 0.2s cubic-bezier(0.37, 0, 0.63, 1),
        right 0.2s cubic-bezier(0.37, 0, 0.63, 1);
}